
body{
    margin: 0;
    padding: 0;
}

header{
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: rgb(129, 75, 184);
    color: white;
    position: sticky;
    top: 0px;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 5rem;
    
    font-family: Arial, Helvetica, sans-serif;
}
header div{
    list-style: none;
    align-items: center;
    justify-content: center;
    display: flex;
}
header div li{
    margin: 10px;
    font-size: medium;
}
header div li a{
    text-decoration: none;
    color: white;
}
header div li button{
    background-color: inherit;
    border: none;
    cursor: pointer;
    color: white;
    font-size: medium;
    font-family: inherit;
}

/* ITEMS LIST */
.items_list{
    align-items: center;
    justify-content: center;
}
.items_top_hdr h2{
    text-align: center;
}
.products_container{
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.product{
    margin: 1.5rem;
    display: flex;
    flex-direction: column;
}
.product p{
    text-align: center;
}
.products_container .image_container, img{
    height: 200px;
    width: 200px;
}

/* pagination */
#body .pagination_div{
    align-items: center;
    justify-content: center;
    margin: 2rem 45%;
    width: 10%;
    height: 2rem;
    /*border: 1px solid blue;   */
    display: flex;
}
.pagination_div button {
    margin: 0 1rem;
    padding: 0.5rem;
    background-color: rebeccapurple;
    color: white;
    cursor: pointer;
}

/* cart items shown */
.cart_pop_up{
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;    
    background-color: gray;
    display: none;
}
.cart_pop_up.active{
    display: flex ;
}
.cart_pop_up .pop_up{
    width: 60%;
    height: 90%;
    position: fixed;
    top:2rem;
    right: 20%;
    background-color:white;
    align-items: center;
}
.cart_pop_up div #close{
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
}
.cart_pop_up div h2{
    text-align: center;
    margin: 0.5rem;
}
.cart_pop_up .pop_up #cart_items_list{
    margin: 0.5rem 4rem;
    height: 76%;
    border:0.2rem solid tomato;
    color: white;
}
#cart_items_list .fxd_heading{
    color: black;
    display: flex;
    margin: 1rem;
}
.fxd_heading p{
    width: 20%;
    height: 2rem;
    padding: 0;
    margin: 0 1rem;
    text-align: center;
}
.fxd_heading button{
    margin: 0 2rem;
}

.cart_pop_up .pop_up #cart_buy_all{
    height: 8%;
    width:20%;
    position: absolute;
    right: 40%;
    bottom: 0.5rem;
    background-color: red;
    color:white;
}


/* cart alert model */
.cart_alrt{
    width:20rem;
    margin: 0;

    position: fixed;
    top: 5rem;
    right: 0rem;
}

.tost{
    background-color: rosybrown;
    color: white; 
    padding: 1rem;
    margin: 1rem;
}

/* footer */
footer{
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: rgb(129, 75, 184);
    color: white;
    
   
    bottom: 0%;
    height: 12rem;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    
}
footer .div1{
    margin: 2rem;
    padding: 0;
}
footer .div1 .logo{
    margin: 1rem 0;
}
footer .div1 .logo .upper_text{
    text-align: center;
    font-size: larger;
}
footer .div2{
    margin: 2rem;
    padding: 0;
}
footer .div2 div .adrs, .phn, .Email{
    display: flex;
    margin: 0.8rem 0;
}
footer .div2 div .adrs #div2_det, .phn #div2_det, .Email #div2_det{
    margin: 0 1rem;
}

footer .div3{
    margin: 2rem;
    padding: 0;
}
footer .div3 div{
    display: flex;
}
footer .div3 div .youtube, .twiter, .insta{
    margin: 0.2rem;
}
footer .div3 div .youtube img, .twiter img, .insta img{
    width: 2rem;
    height: 2rem;
    border: none;
    border-radius: 0.5rem;
}